extends _includes/layouts/blog.pug

block blogPageHead
  meta(property="og:title" content="Blog")
  meta(name="author" content=metadata.author.name)
  meta(property="og:locale" content="en_US")
  meta(name="description" content=metadata.description)
  meta(property="og:description" content=metadata.description)
  link(rel="canonical" href=`${metadata.url}${page.url}`)
  meta(property="og:url" content=`${metadata.url}${page.url}`)
  meta(property="og:site_name" content=metadata.title)
  meta(property="og:image" content=`${metadata.url}/assets/dist/images/home-silhouette.jpg`)
  meta(name="twitter:card" content="summary_large_image")
  meta(property="og:type" content="website")
  meta(name="twitter:site" content="@peakwinter")
  meta(name="twitter:creator" content="@peakwinter")
  script(type="application/ld+json").
    {"@context":"http://schema.org","@type":"WebPage","headline":"Blog","author":{"@type":"Person","name":"#{metadata.author.name}","image":"#{metadata.url}/assets/dist/images/home-silhouette.jpg","description":"#{description}","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"#{metadata.url}/assets/dist/icons/apple-touch-icon.png"},"name":"#{metadata.author.name}"},"url":"#{metadata.url}#{page.url}"}}
  title Blog | #{metadata.title}

block blogPageBody
  ul.post-list
    each post in collections.posts.reverse()
      li.post-list-item
        h2
          a(href=post.url)= post.data.title
          br
          small= post.date.toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
