extends /templates/blog.pug

block blogPageHead
  title= `${post.title} | ${config.title}`

block blogPageBody
  .jc-blog-post
    h1.header.post-title= post.title
    if post.image
      img.post-image(src=post.image)
      if post.image_attribution
        em !{post.image_attribution}

    block content

    .post-meta
      p Originally posted #[strong= post.date.format('D MMMM YYYY')]
        if post.tags
          p.post-tags Tagged:&nbsp;
            each tag, idx in post.tags
              span= tag
              if idx !== (post.tags.length - 1)
                | ,&nbsp;
