extends blog.pug

block blogPageHead
  title #{title} | #{metadata.title}
  meta(property="og:title" content=title)
  meta(name="author" content=metadata.author.name)
  meta(property="og:locale" content="en_US")
  meta(name="description" content=description)
  meta(property="og:description" content=description)
  link(rel="canonical" href=`${metadata.url}${page.url}`)
  meta(property="og:url" content=`${metadata.url}${page.url}`)
  meta(property="og:site_name" content=metadata.title)
  if image
    meta(property="og:image" content=image)
    meta(name="twitter:card" content="summary_large_image")
  meta(property="og:type" content="article")
  meta(property="article:published_time" content=date.toISOString())
  meta(name="twitter:site" content="@peakwinter")
  meta(name="twitter:creator" content="@peakwinter")
  script(type="application/ld+json").
    {"@context":"http://schema.org","@type":"BlogPosting","headline":"#{title}","author":{"@type":"Person","name":"#{metadata.author.name}","image":"#{metadata.url}#{image}","datePublished":"#{date.toISOString()}","dateModified":"#{date.toISOString()}","description":"#{description}","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"#{metadata.url}/assets/dist/icons/apple-touch-icon.png"},"name":"#{metadata.author.name}"},"mainEntityOfPage":{"@type":"WebPage","@id":"#{metadata.url}#{page.url}"},"url":"#{metadata.url}#{page.url}"}}

block blogPageBody
  .jc-blog-post
    h1.jc-heavy-title.post-title= title
    if image
      figure.figure  
        img.figure-img.img-fluid.post-image(src=image)
        if image_attribution
          figcaption.figure-caption !{image_attribution}

    .post-content !{content}

    .card.post-meta
      .card-body
        p.card-text Originally posted #[strong= date.toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })]
          if tags
            p.card-text.post-tags Tagged: 
              each tag, idx in tags
                if tag !== 'posts'
                  a(href=`/blog/tags/${tag}/`)= tag
                  if idx !== (tags.length - 1)
                    | , 
